# Exclude all
/*
/*/

# Include project files
!/.github
!/docs
!/scikeras
!/tests
!/pyproject.toml
!/.gitignore
!/.pre-commit-config.yaml
!/codecov.yaml
!/*.md
!/*.rst
!/LICENSE

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# MacOS files
.DS_Store

# Executed notebooks
docs/source/generated
docs/source/notebooks/*.ipynb
