# Exclude all
/*
/*/

# Include project files
!/.github
!/docs
!/scikeras
!/tests
!/rfcs
!/pyproject.toml
!/.gitignore
!/.pre-commit-config.yaml
!/codecov.yaml
!/*.md
!/*.rst
!/LICENSE
!/CITATION.cff

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# MacOS files
.DS_Store

# Executed notebooks
/docs/source/generated
/docs/source/notebooks/*.ipynb
**/.ipynb_checkpoints
/docs/_build