os:
  - linux
language: python
python:
- 3.7
- 3.6
- 3.5.9  # tensorflow has issues with older versions
install: pip install -U tox-travis tox-pip-version codecov
script: 
  - tox

deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: adriangb
  skip_existing: true
  password:
    secure: Q4IouCQOJJihqIQKG4f0ShMgQVu1up4LeFG6JB/P6T4dAQ9ms5fWgFYk/NPOqlTfkO7RyokIQF1/Jrz2YXYi1X9pFuS2389LRKQa/kuCxKV/wYZc0Wop1DyqcERKOsTgL4UrsPG1qZM+Jd+qTFHT1xzJw14CS0+vUs7rgInPWBtzhh/6eYMeK1lX9Zdi4bMQD4vVZ1wAPqTnrceO5Zn5wwddvIsTpeq54f9LyhFsQWHa7cqOEVKMWnM0g02GM2IjkaTqqhbx2j725Xu/CUM/vFzFrp71UXawJvrQaZa9VcMENWcSXbZc4ZJ80umtNWakjWrGXhF3uhelV3GRnhgJ/J1KENYbmj8Jq0Xzv0UCp3YXPxQiLbWORck/GV+1YHhyBRYj1ZYQ5H9LNmUTw3vdL/T4oUgVfJ5M+CvJv3g5Kd+dEkMPwdMz83QSaSpn9d4Umb0/+FweRboGqS6Ja/pWEEu9D/25h3WvXYsucSs1PDnggHqdGDgUyZeuxpnKz2my1D/2FG/tBX6v7JrCW7gL+8L1d87tjIoEsgmgX6bTno/iwh80dsYTGhfNy+8sAUHIgJIMFUSJlXVSxj44hrP6QEWn+vNJaQNcs8jwxuBa7wORUf2+Ae9HAF0W5i0IM3ASSjx70l043sKJSfLRt6eOpkLut+N0OrH/nbcaaGUvE6o=
  on:
    tags: true
    repo: adriangb/sklearn_keras_wrap

after_success:
  - codecov